.LibraryView {
  position: relative;
  /* grid-area: library; */
  /* grid-area: sidebar; */
  height: 100%;
  /* border: 5px solid black; */
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto;
}

.side-bar-width-adjuster {
  grid-row: 1/3;
  grid-column: 2;
}

ul {
  list-style: none;
}

div [data-index="0"] {
  background-color: #464646;
}

div [data-index="1"] {
  background-color: #2f2f2f;
}

div [data-index="2"] {
  background-color: #464646;
}
