.App {
  display: grid;
  grid-template-areas:
    "Library Main"
    "Media Media";
  grid-template-columns: auto 5fr auto;
  grid-template-rows: 3fr 1fr;
  background-color: rgb(0, 0, 0);
}

video::-webkit-media-controls {
  display:none !important;
}